body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 50px;
  background: linear-gradient(45deg, #93cede, #49a5bf) center center no-repeat; 
  line-height: 1.4;
}

.title {
  font-size: 25px;
  color: #FFF;
  font-weight: bold;
  margin-bottom: 25px;
}

.carousel {
  position: relative;
}

.carousel_container {
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
}

.carousel_container::after {
  content: '';
  clear: both;
  display: table;
}

.carousel_item {
  float: left;
}

.carousel_next, .carousel_prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #FFF url(right.svg) center center no-repeat;
  background-size:  20px 20px;
  border-radius: 50%;
  top: 50%;
  margin-top: -20px;
  right: -20px;
  box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}

.carousel_next:hover, .carousel_prev:hover {
  transform: scale(1.2)
}

.carousel_prev {
  background-image: url(left.svg);
  right: auto;
  left: -20px;
}

.carousel_next_hidden, .carousel_prev_hidden {
  opacity: 0;
}

.carousel_pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
}

.carousel_pagination_button {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
  box-shadow: 0 2px 5px #3232321a;
  transition: transform 0.3s;
  cursor: pointer;
}

.carousel_pagination_button_active, .carousel_pagination_button:hover {
  transform: scale(1.4);
}

.item {
  margin: 40px 10px;
  background-color: #fff;
  box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
  transition: transform 0.3s;
  transform: translate3d(0, -1px, 0);
}

.item:hover  {
  transform: translate3d(0, -10px, 0);
}

.item img {
  display: block;
  width: 100%;
  height: auto;
}

.item_body {
  padding: 25px;
}

.item_title {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #232323;
}

.item_description {
  color: #585858;
}

.items {
  position: relative;
}

@media screen and (min-width: 800px) {
  .carousel_pagination {
    display: block;
  }
}